

.pres-img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 22px -2px 0px 14px rgba(96, 163, 250, 1);
}

.pres-ico {
    width: 90%
}

.presentation-content {
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width: 499px) {
    .pres-img {
        width: 100%;
        border-radius: 20px;
        box-shadow: none;
    }
}