@import 'styles/color.scss';

 .event_img {
     width: 100%;
     box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
     margin-top: 20px;
    
 }

 .event_content {
      
     text-align: left;
     padding: 50px;
     background-color: #fad07b25;
     border-radius: 100px;
 }

 .event_p {
     padding: 50px;
 }

 .event_content li {
     list-style: disc;

 }

 .event_thumb {
     width: 100px;
     height: 100px;
     border-radius: 50px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
 }

 .event_title {
     font-family: 'Roboto';
     font-size: 2em;
     font-weight: bold;
     padding: 20px;
     color: $color2;
     text-transform: uppercase;
     margin-bottom: 20px;
     border: 2px solid $color2;
     display: inline-block;
     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

 }

 .event_logo {

     max-height: 200px;
     max-width: 200px;
 }

 .event_header_base {
    height: 150px;    
    background-color: $color6;
}

// .event-background {
//     background-image: linear-gradient(to right top, #60a3fa, #4c8ed7, #3a78b5, #2c6395, #204f75);
// }
.event_separation {
    margin-top: -10px;
    width: 100%;
    transform: rotate(180deg);
}

.event_content_background {
    background-color: #fff
}

@media (max-width: 499px) {

    .event_title {
        font-size: 2em;

    }
    .event_p {
        padding: 0px;
    }
}
