


.tab {
   border: 1px solid black;
}

.privateContainer {
margin-bottom: 1em;
}

.tabPanel {
   padding-bottom: 50px;
   width: 100%;
}

.profile {
   height: calc(100vh - 350px);
   padding-bottom: 250px;
}

// .userInfo_Form {
//    width: 100%;
//    min-height: 300px;
// }

.userInfo_Form label button{
   margin-top: 2em;  
}

.profile_title{
   margin-top: 50px;
}
@media (min-width: 768px) {
   .MuiTabs-flexContainer {
     justify-content: center;
   }
 }