@import 'styles/color.scss';


.desktopAppbar {
  //position: absolute;
  // right: 0;
  // top: 0;
  //background-color: #ececec;
  width: 100vw;
  z-index: 2;
  transition: all .7s ease-in;

  //color: white;
  ul {
    margin: 0;
  }

  a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-weight: bolder;

  }
}


.navLogo {
  max-width: 60px;

}

.btn {
  text-decoration: none;
  font-size: 0.9em;
  font-family: 'Nunito', sans-serif;
  color: #333333;
  line-height: 2.2;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.btn:hover {
  color: $color5;
  transform: rotate(-5deg);
  font-size: 1em;
}

.mobileAppbar {
  position: fixed;
}

.mobileNav {
  width: 100%;
  background-color: white;
}

.list {
  padding-left: 2em;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;

  &:hover {
    color: black;
  }
}



@media (max-width: 499px) {
  .desktopAppbar {
    display: none;
    visibility: hidden;
  }

  .btn {
    display: none;
  }

}

@media (min-width: 500px) {
  .mobileAppbar {
    visibility: hidden;
  }
}