@import 'styles/color.scss';

.privatepost_title {
    color:$color3;
    font-size: 2em;
}

.privatepost_content {
   text-align: left;
}

.privatepost_block {
    border-bottom: 1px solid black;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-top: 2em;
}
