.userInfo_infos {
    margin-top: 50px;
    margin-bottom: 50px;
 

}
.userInfo_checkbox {
   
    display: inline-block;
    
}
.user_head{
    color :#204F75;
    text-transform: uppercase;
    font-weight: 700;
}
.user_answer{
    color: rgb(131, 131, 131);
}

.checkboxGroup {
    padding-bottom: 20px;
    padding-top: 20px;
}