.userInfo_infos {
    
    li {
        border: 1px solid rgba(131, 131, 131, 0.438);
        padding: 10px;
    }
    ul {
        margin: 0;
        padding-left: 0;
        padding-bottom: 20px;
    }

}
.userInfo_checkbox {
   
    display: inline-block;
    
}
.user_head{
    color :#204F75;
    text-transform: uppercase;
    font-weight: 700;
}
.user_answer{
    color: rgb(131, 131, 131);
}

